.content {
  position: relative !important;
}
.sidebar {
  width: 240px;
  background-color: #fafafa;
  padding: 1.5rem;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  position: fixed;
  top: 8rem;
  left: 0;

}
